.dashboard {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; */
  padding: 20px;
}

.dashboard-title {
  text-align: center;
  font-family: cursive;
  color: #333;
  /* position: absolute;
  top: 40%;
  left: 40%; */

}

.dashboard-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.todo-section {
  margin: 10px;
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 2; */
}

.calendar-section {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  /* max-width: 100px;
  max-height: 100px; */
}

.progress-section {
  margin-top: 20px;
}

.event-section {
  margin-top: 20px;
}